* {
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.margin-30 {
    margin-top: 30px;
}
.input-group {
    margin-top: 20px;
}
/**** NAVBAR ****/

.nav {
    color: white;
}


/*** INCOME POPUP DIV ***/

.popup-div {
    height: 17rem;
    width: 25rem;
    margin-top: 2rem;
    position: absolute;
}